<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 4.0.0 (tags/checker/checker-279)</string>
 <key>files</key>
 <array>
  <string>/Users/Lily/csp_teamwork_iphone/teamwork/teamwork/app/widget/contact/ABContact.m</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>29</integer>
      <key>col</key><integer>33</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>29</integer>
         <key>col</key><integer>33</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>29</integer>
         <key>col</key><integer>74</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Call to function &apos;ABAddressBookCreateWithOptions&apos; returns a Core Foundation object with a +1 retain count</string>
     <key>message</key>
     <string>Call to function &apos;ABAddressBookCreateWithOptions&apos; returns a Core Foundation object with a +1 retain count</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>29</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>29</integer>
           <key>col</key><integer>17</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>34</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>34</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>34</integer>
      <key>col</key><integer>2</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>34</integer>
         <key>col</key><integer>2</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>34</integer>
         <key>col</key><integer>23</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Object leaked: object allocated and stored into &apos;addressBook&apos; is not referenced later in this execution path and has a retain count of +1</string>
     <key>message</key>
     <string>Object leaked: object allocated and stored into &apos;addressBook&apos; is not referenced later in this execution path and has a retain count of +1</string>
    </dict>
   </array>
   <key>description</key><string>Potential leak of an object stored into &apos;addressBook&apos;</string>
   <key>category</key><string>Memory (Core Foundation/Objective-C)</string>
   <key>type</key><string>Leak</string>
   <key>check_name</key><string>osx.cocoa.RetainCount</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>7dec4394b36a2d2b46de4a81a3faa7b6</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>contactWithRecordID:</string>
  <key>issue_hash_function_offset</key><string>2</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>34</integer>
   <key>col</key><integer>2</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-e5215b.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>56</integer>
      <key>col</key><integer>31</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>56</integer>
         <key>col</key><integer>31</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>56</integer>
         <key>col</key><integer>61</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Call to function &apos;ABRecordCopyValue&apos; returns a Core Foundation object with a +1 retain count</string>
     <key>message</key>
     <string>Call to function &apos;ABRecordCopyValue&apos; returns a Core Foundation object with a +1 retain count</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>56</integer>
      <key>col</key><integer>2</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>56</integer>
         <key>col</key><integer>2</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>56</integer>
         <key>col</key><integer>61</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>56</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>56</integer>
         <key>col</key><integer>61</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Object returned to caller as an owning reference (single retain count transferred to caller)</string>
     <key>message</key>
     <string>Object returned to caller as an owning reference (single retain count transferred to caller)</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>56</integer>
      <key>col</key><integer>2</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>56</integer>
         <key>col</key><integer>2</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>56</integer>
         <key>col</key><integer>61</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Object leaked: allocated object is returned from a method managed by Automatic Reference Counting</string>
     <key>message</key>
     <string>Object leaked: allocated object is returned from a method managed by Automatic Reference Counting</string>
    </dict>
   </array>
   <key>description</key><string>Potential leak of an object</string>
   <key>category</key><string>Memory (Core Foundation/Objective-C)</string>
   <key>type</key><string>Leak of returned object</string>
   <key>check_name</key><string>osx.cocoa.RetainCount</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>2dcb115d6b698464c9a8acc3352608ec</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>getRecordString:</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>56</integer>
   <key>col</key><integer>2</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-d118ee.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>93</integer>
      <key>col</key><integer>42</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>93</integer>
         <key>col</key><integer>42</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>93</integer>
         <key>col</key><integer>74</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Call to function &apos;ABRecordCopyCompositeName&apos; returns a Core Foundation object with a +1 retain count</string>
     <key>message</key>
     <string>Call to function &apos;ABRecordCopyCompositeName&apos; returns a Core Foundation object with a +1 retain count</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>93</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>93</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>94</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>94</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>94</integer>
      <key>col</key><integer>2</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>94</integer>
         <key>col</key><integer>2</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>94</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>94</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>94</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Object returned to caller as an owning reference (single retain count transferred to caller)</string>
     <key>message</key>
     <string>Object returned to caller as an owning reference (single retain count transferred to caller)</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>94</integer>
      <key>col</key><integer>2</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>94</integer>
         <key>col</key><integer>2</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>94</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Object leaked: object allocated and stored into &apos;string&apos; is returned from a method managed by Automatic Reference Counting</string>
     <key>message</key>
     <string>Object leaked: object allocated and stored into &apos;string&apos; is returned from a method managed by Automatic Reference Counting</string>
    </dict>
   </array>
   <key>description</key><string>Potential leak of an object stored into &apos;string&apos;</string>
   <key>category</key><string>Memory (Core Foundation/Objective-C)</string>
   <key>type</key><string>Leak of returned object</string>
   <key>check_name</key><string>osx.cocoa.RetainCount</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>d3afc219a34c16792deb5d3dc240e5f3</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>compositeName</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>94</integer>
   <key>col</key><integer>2</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-f28c9a.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>100</integer>
      <key>col</key><integer>29</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>100</integer>
         <key>col</key><integer>29</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>100</integer>
         <key>col</key><integer>59</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Call to function &apos;ABRecordCopyValue&apos; returns a Core Foundation object with a +1 retain count</string>
     <key>message</key>
     <string>Call to function &apos;ABRecordCopyValue&apos; returns a Core Foundation object with a +1 retain count</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>100</integer>
      <key>col</key><integer>2</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>100</integer>
         <key>col</key><integer>2</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>100</integer>
         <key>col</key><integer>59</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>100</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>100</integer>
         <key>col</key><integer>59</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Object returned to caller as an owning reference (single retain count transferred to caller)</string>
     <key>message</key>
     <string>Object returned to caller as an owning reference (single retain count transferred to caller)</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>100</integer>
      <key>col</key><integer>2</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>100</integer>
         <key>col</key><integer>2</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>100</integer>
         <key>col</key><integer>59</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Object leaked: allocated object is returned from a method managed by Automatic Reference Counting</string>
     <key>message</key>
     <string>Object leaked: allocated object is returned from a method managed by Automatic Reference Counting</string>
    </dict>
   </array>
   <key>description</key><string>Potential leak of an object</string>
   <key>category</key><string>Memory (Core Foundation/Objective-C)</string>
   <key>type</key><string>Leak of returned object</string>
   <key>check_name</key><string>osx.cocoa.RetainCount</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>39f1e578b97d16e7694d3e7e8c68db44</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>getRecordDate:</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>100</integer>
   <key>col</key><integer>2</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-238045.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>110</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>110</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>111</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>111</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>111</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>111</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>111</integer>
           <key>col</key><integer>39</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>111</integer>
           <key>col</key><integer>70</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>111</integer>
      <key>col</key><integer>39</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>111</integer>
         <key>col</key><integer>39</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>111</integer>
         <key>col</key><integer>83</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Call to function &apos;ABMultiValueCopyArrayOfAllValues&apos; returns a Core Foundation object with a +1 retain count</string>
     <key>message</key>
     <string>Call to function &apos;ABMultiValueCopyArrayOfAllValues&apos; returns a Core Foundation object with a +1 retain count</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>111</integer>
           <key>col</key><integer>39</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>111</integer>
           <key>col</key><integer>70</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>111</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>111</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>111</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>111</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>113</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>113</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>113</integer>
      <key>col</key><integer>2</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>113</integer>
         <key>col</key><integer>2</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>113</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>113</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>113</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Object returned to caller as an owning reference (single retain count transferred to caller)</string>
     <key>message</key>
     <string>Object returned to caller as an owning reference (single retain count transferred to caller)</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>113</integer>
      <key>col</key><integer>2</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>113</integer>
         <key>col</key><integer>2</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>113</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Object leaked: object allocated and stored into &apos;items&apos; is returned from a method managed by Automatic Reference Counting</string>
     <key>message</key>
     <string>Object leaked: object allocated and stored into &apos;items&apos; is returned from a method managed by Automatic Reference Counting</string>
    </dict>
   </array>
   <key>description</key><string>Potential leak of an object stored into &apos;items&apos;</string>
   <key>category</key><string>Memory (Core Foundation/Objective-C)</string>
   <key>type</key><string>Leak of returned object</string>
   <key>check_name</key><string>osx.cocoa.RetainCount</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>9b1d42a907f27d51ec37b7cb234b755f</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>arrayForProperty:</string>
  <key>issue_hash_function_offset</key><string>2</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>113</integer>
   <key>col</key><integer>2</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-7e4fdd.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>118</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>118</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>4</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>4</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>120</integer>
      <key>col</key><integer>18</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>120</integer>
         <key>col</key><integer>18</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>120</integer>
         <key>col</key><integer>54</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming the condition is true</string>
     <key>message</key>
     <string>Assuming the condition is true</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>120</integer>
      <key>col</key><integer>18</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>120</integer>
         <key>col</key><integer>18</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>120</integer>
         <key>col</key><integer>54</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Entering loop body</string>
     <key>message</key>
     <string>Entering loop body</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>122</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>122</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>122</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>122</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>122</integer>
           <key>col</key><integer>42</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>122</integer>
           <key>col</key><integer>69</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>122</integer>
      <key>col</key><integer>42</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>122</integer>
         <key>col</key><integer>42</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>122</integer>
         <key>col</key><integer>85</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Call to function &apos;ABMultiValueCopyLabelAtIndex&apos; returns a Core Foundation object with a +1 retain count</string>
     <key>message</key>
     <string>Call to function &apos;ABMultiValueCopyLabelAtIndex&apos; returns a Core Foundation object with a +1 retain count</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>122</integer>
           <key>col</key><integer>42</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>122</integer>
           <key>col</key><integer>69</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>122</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>122</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>122</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>122</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>123</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>123</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>123</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>123</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>4</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>4</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>57</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>57</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>120</integer>
      <key>col</key><integer>57</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>120</integer>
         <key>col</key><integer>57</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>120</integer>
         <key>col</key><integer>57</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Object leaked: object allocated and stored into &apos;label&apos; is not referenced later in this execution path and has a retain count of +1</string>
     <key>message</key>
     <string>Object leaked: object allocated and stored into &apos;label&apos; is not referenced later in this execution path and has a retain count of +1</string>
    </dict>
   </array>
   <key>description</key><string>Potential leak of an object stored into &apos;label&apos;</string>
   <key>category</key><string>Memory (Core Foundation/Objective-C)</string>
   <key>type</key><string>Leak</string>
   <key>check_name</key><string>osx.cocoa.RetainCount</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>7cb0163e5e8aaf79d3bfb98a4ef5027d</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>labelsForProperty:</string>
  <key>issue_hash_function_offset</key><string>5</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>120</integer>
   <key>col</key><integer>57</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-aeb4b9.html</string>
  </array>
  </dict>
 </array>
</dict>
</plist>