<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 4.0.0 (tags/checker/checker-279)</string>
 <key>files</key>
 <array>
  <string>/Users/Lily/csp_teamwork_iphone/teamwork/teamwork/app/widget/FuView/FuUI/TeamworkUI/emoji/EmojiKeyBoard.m</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>90</integer>
      <key>col</key><integer>19</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>90</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>90</integer>
         <key>col</key><integer>21</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>90</integer>
         <key>col</key><integer>25</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>90</integer>
         <key>col</key><integer>49</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;dic&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;dic&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;dic&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>b06c07797e6ddd97e9875fc3359f062c</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>loadEmoji</string>
  <key>issue_hash_function_offset</key><string>3</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>90</integer>
   <key>col</key><integer>19</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-8702be.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>99</integer>
      <key>col</key><integer>15</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>99</integer>
         <key>col</key><integer>15</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>99</integer>
         <key>col</key><integer>17</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>99</integer>
         <key>col</key><integer>21</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>99</integer>
         <key>col</key><integer>43</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;obj&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;obj&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;obj&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>424a806d4dacc24c6c85f54ed4289bac</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>loadEmoji</string>
  <key>issue_hash_function_offset</key><string>12</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>99</integer>
   <key>col</key><integer>15</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-eef8f7.html</string>
  </array>
  </dict>
 </array>
</dict>
</plist>