<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 4.0.0 (tags/checker/checker-279)</string>
 <key>files</key>
 <array>
  <string>/Users/Lily/csp_teamwork_iphone/teamwork/teamwork/app/widget/RSKImageCropper/RSKImageCropViewController.m</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>686</integer>
      <key>col</key><integer>17</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>686</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>686</integer>
         <key>col</key><integer>97</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;diameter&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;diameter&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;diameter&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>7b4a18bf97a1bb8a4db92f877b854c86</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>updateMaskRect</string>
  <key>issue_hash_function_offset</key><string>8</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>686</integer>
   <key>col</key><integer>17</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-36a4b9.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>688</integer>
      <key>col</key><integer>17</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>688</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>688</integer>
         <key>col</key><integer>98</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;diameter&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;diameter&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;diameter&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>e9092f2861869734c1585ee2be43a9d1</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>updateMaskRect</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>688</integer>
   <key>col</key><integer>17</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-2d5d60.html</string>
  </array>
  </dict>
 </array>
</dict>
</plist>