<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 4.0.0 (tags/checker/checker-279)</string>
 <key>files</key>
 <array>
  <string>/Users/Lily/csp_teamwork_iphone/teamwork/teamwork/app/services/im/sesson/TWIMConfigureData.m</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>28</integer>
      <key>col</key><integer>19</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>28</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>28</integer>
         <key>col</key><integer>23</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>28</integer>
         <key>col</key><integer>27</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>28</integer>
         <key>col</key><integer>53</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;title&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;title&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;title&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>9c284abcc9d6bd4a3c0c14c89b959d4f</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>getDefaultData</string>
  <key>issue_hash_function_offset</key><string>9</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>28</integer>
   <key>col</key><integer>19</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-7751ff.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>100</integer>
      <key>col</key><integer>19</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>100</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>100</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>100</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>100</integer>
         <key>col</key><integer>114</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;index1&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;index1&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;index1&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>da5123c47a01bbf50a5742e2e903e371</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>100</integer>
   <key>col</key><integer>19</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-c81678.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>101</integer>
      <key>col</key><integer>19</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>101</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>101</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>101</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>101</integer>
         <key>col</key><integer>114</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;index2&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;index2&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;index2&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>6058d459760c83f6045733816fa9e0a9</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>101</integer>
   <key>col</key><integer>19</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-168407.html</string>
  </array>
  </dict>
 </array>
</dict>
</plist>