<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 4.0.0 (tags/checker/checker-279)</string>
 <key>files</key>
 <array>
  <string>/Users/Lily/csp_teamwork_iphone/teamwork/teamwork/app/model/TWRegisterPact.m</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>83</integer>
      <key>col</key><integer>14</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>83</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>83</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>83</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>83</integer>
         <key>col</key><integer>52</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>ca42beb1eed2a19ff06f3bafa107517d</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>83</integer>
   <key>col</key><integer>14</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-8b0c25.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>169</integer>
      <key>col</key><integer>14</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>169</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>169</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>169</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>169</integer>
         <key>col</key><integer>52</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>0a24b144bc7282b588c315f2d555035d</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>169</integer>
   <key>col</key><integer>14</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-4ea332.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>255</integer>
      <key>col</key><integer>20</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>255</integer>
         <key>col</key><integer>20</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>255</integer>
         <key>col</key><integer>30</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>255</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>255</integer>
         <key>col</key><integer>99</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>3371a4441d8328d8535647ed395cdb3a</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>255</integer>
   <key>col</key><integer>20</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-fb11e8.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>344</integer>
      <key>col</key><integer>20</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>344</integer>
         <key>col</key><integer>20</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>344</integer>
         <key>col</key><integer>30</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>344</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>344</integer>
         <key>col</key><integer>99</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>dae730446e954c166602e3afbbb85f08</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>344</integer>
   <key>col</key><integer>20</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-7cec0e.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>433</integer>
      <key>col</key><integer>14</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>433</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>433</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>433</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>433</integer>
         <key>col</key><integer>52</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>dc9798c841a5b4899d772335cc2d091e</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>433</integer>
   <key>col</key><integer>14</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-81878e.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>523</integer>
      <key>col</key><integer>20</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>523</integer>
         <key>col</key><integer>20</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>523</integer>
         <key>col</key><integer>30</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>523</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>523</integer>
         <key>col</key><integer>99</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>40bfd34601855b57f0204d475791f66e</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>523</integer>
   <key>col</key><integer>20</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-162775.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>658</integer>
      <key>col</key><integer>14</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>658</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>658</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>658</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>658</integer>
         <key>col</key><integer>52</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>a8ab5b1a685d12b3eb3ab53053ae2231</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>658</integer>
   <key>col</key><integer>14</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-423c03.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>818</integer>
      <key>col</key><integer>14</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>818</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>818</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>818</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>818</integer>
         <key>col</key><integer>52</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>ad96ea1b170d2201e761d55a3939b607</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>818</integer>
   <key>col</key><integer>14</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-3fc168.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>908</integer>
      <key>col</key><integer>14</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>908</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>908</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>908</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>908</integer>
         <key>col</key><integer>52</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;requestBody&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>6827f50a75599df367308a35e9400372</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>908</integer>
   <key>col</key><integer>14</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-52104b.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>998</integer>
      <key>col</key><integer>20</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>998</integer>
         <key>col</key><integer>20</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>998</integer>
         <key>col</key><integer>30</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>998</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>998</integer>
         <key>col</key><integer>99</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>bc788e7140e8075234cf860a7a162581</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>998</integer>
   <key>col</key><integer>20</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-e8c297.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>1087</integer>
      <key>col</key><integer>20</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>1087</integer>
         <key>col</key><integer>20</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>1087</integer>
         <key>col</key><integer>30</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>1087</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>1087</integer>
         <key>col</key><integer>99</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>6452b9e3fd6fd3a311e96a34209f9877</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>1087</integer>
   <key>col</key><integer>20</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-cc52bd.html</string>
  </array>
  </dict>
 </array>
</dict>
</plist>