<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 4.0.0 (tags/checker/checker-279)</string>
 <key>files</key>
 <array>
  <string>/Users/Lily/csp_teamwork_iphone/teamwork/teamwork/app/model/TWWorkSpaceModulePact.m</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>138</integer>
      <key>col</key><integer>20</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>138</integer>
         <key>col</key><integer>20</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>138</integer>
         <key>col</key><integer>30</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>138</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>138</integer>
         <key>col</key><integer>99</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>c61167688c5bf2630d16d329dd83a2a5</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>138</integer>
   <key>col</key><integer>20</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-a812cc.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>223</integer>
      <key>col</key><integer>20</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>223</integer>
         <key>col</key><integer>20</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>223</integer>
         <key>col</key><integer>30</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>223</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>223</integer>
         <key>col</key><integer>99</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>fdf0593e28748928fd6cc12ef3aa3eec</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>223</integer>
   <key>col</key><integer>20</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-8c93b9.html</string>
  </array>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>308</integer>
      <key>col</key><integer>20</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>308</integer>
         <key>col</key><integer>20</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>308</integer>
         <key>col</key><integer>30</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>308</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>308</integer>
         <key>col</key><integer>99</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;httpRequest&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>bfaea7f81d24513ff3ca1a4102308b95</string>
  <key>issue_context_kind</key><string>Objective-C method</string>
  <key>issue_context</key><string>routine</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>308</integer>
   <key>col</key><integer>20</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-0aaefa.html</string>
  </array>
  </dict>
 </array>
</dict>
</plist>